.companies-outer-container {
    background-color: #F6F6F6;
    position: absolute;
    width: 100%;
    top: 1450px;
}
.companies-inner-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.companies-inner-container h5 {
    padding: 2em 0 2em 0;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: darkgrey;
}  