.display-outer-container {
    background-color: #F2F2F2;
    padding-top: 5em;
}
.display-inner-container h2 {
    text-align: center;
    font-size: 2.2em;
    padding-top: 3em;
}
.display-inner-container h5 {
    font-style: italic;
    text-align: center;
    padding-top: .25em;
}
.display-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
}
.device {
    display: block;
    height: 600px;
    margin: 3em auto 0 auto;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.selected {
    border-bottom: 2px solid #00FDDC;
}
button:focus {
    display: none;
}