.home-container {
    position: relative;
}
.hero-section {
    display: flex;
    flex-direction: row;
    height: 90vh;
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-item {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 50%;
    padding-bottom: 6em;
}
.hero-section h3 {
    font-size: 1.5em;
    color: white;
    padding-bottom: .75em;
}
.hero-section h2 {
    color: white;
    font-size: 2.2em;
}
.hero-link {
    color: #00FDDC;
    text-decoration: none;
    border: 1px solid #00FDDC;
    width: 30%;
    text-align: center;
    margin-top: 1em;
    padding: .5em;
}
.hero-iphone {
    height: 500px;
}
.hero-item:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hero-btn {
    background-color: transparent;
    border: none;
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#00FDDC,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}